
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/img_background.jpg');
    background-size: cover;
    padding-top: 68px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    /* width: 100%; */
}

.logo {
    height: 40px;
}

.navigation .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.nav-item {
    margin-left: 20px;
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.main-content {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    width: auto;
    
}

.info-image {
    max-width: 100%;
    width: 300px;
    border-radius: 8px;
}

.info-text {
    flex: 2;
    font-size: 16px;
}
/* .info-text h1{
    /* text-align: center; 
} */
.game-div {
    text-align: center;
}

.content-section {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    font-size: large;
    gap: 20px;
    
}

blockquote {
    font-style: italic;
    margin: 10px 0;
}

.footer {
    
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    margin-top: 50px;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.contact-list li {
    margin: 5px 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.paragraph {
    margin-left: 2%;
}
b {
    color: #058928;
}
.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #08a732;
}

.game-description {
    padding: 30px;
}
.about {
    margin-left: 25%;
    background-color: #082f13;
    padding: 5px;
    /* border: #ffffff; */
    border-bottom: #ffffff;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    text-align: center;
}
.carousel-inner img {
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
   
}

.carousel-indicators button {
    background-color: #058928; /* Змінити колір кнопок (індикаторів) */
}


.carousel-control-next-icon {
    filter: invert(100%); /* Зробити стрілки світлими */
}
.small-carousel {
    max-width: 500px; /* Зменшено ширину */
    margin: 0 auto; /* Центрує галерею */
}

/* Зменшення розміру зображень */
.small-carousel .carousel-inner img {
    margin-top: 5%;
    height: 300px; /* Зменшена висота */
    
    object-fit: cover; /* Підлаштовує зображення до розміру */
}